@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Oswald", serif;
    height: 100%;
}

.container {
    background-image: linear-gradient(to bottom left, red, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content {
    text-align: center;
    background-color: rgba(245, 241, 241, 0.9);
    padding: 2rem;
    border-radius: 20px;
    max-width: 350px;
}

.logo {
    width: 150px;
    height: 75px;
    object-fit: contain;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

p {
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    padding: 0.2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    padding: 0.5rem;
    background-color: #ee7123;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
    transition: background-color 0.3s ease-in-out;

}

button:hover {
    background-color: #c0260b;

}